# Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Load the datasets

In [5]:
listings = pd.read_csv("data/processed/listings_clean.csv")
calendar = pd.read_csv("data/processed/calendar_airbnb.csv")
reviews = pd.read_csv("data/processed/reviews_clean.csv")
neighborhood_kpis = pd.read_csv("data/processed/neighborhood_kpis.csv")
roi_scores = pd.read_csv("data/processed/roi_scores.csv")

## Confirm dataset loading

In [6]:
listings.head()

,listing_id,neighbourhood,room_type,price_per_night,availability_365,number_of_reviews,reviews_per_month,occupancy_rate,estimated_monthly_revenue
0,10001,Juarez,Entire home/apt,235,293,149,5.50,0.20,1390.68
1,10002,Centro Historico,Private room,69,219,339,3.50,0.40,828.00
2,10003,Coyoacan,Entire home/apt,250,313,128,2.78,0.14,1068.49
3,10004,Juarez,Entire home/apt,99,305,437,4.91,0.16,488.22
4,10005,Condesa,Entire home/apt,42,106,500,4.10,0.71,894.08

In [7]:
calendar.head()

   listing_id      date available  price_per_night
0           1  1/1/2023         f               80
1           2  1/2/2023         t               81
2           3  1/3/2023         t               82
3           4  1/4/2023         f               83
4           5  1/5/2023         t               84

In [8]:
reviews.head()

   listing_id review_date  review_length
0       10790    1/1/2023            223
1       11174    1/2/2023            393
2       10553    1/3/2023             33
3       11375    1/4/2023            120
4       10116    1/5/2023            220

In [9]:
neighborhood_kpis.head()

,listing_id,neighbourhood,price_per_night,occupancy_rate,estimated_monthly_revenue
0,10001,Juarez,235,0.20,1390.68
1,10002,Centro Historico,69,0.40,828.00
2,10003,Coyoacan,250,0.14,1068.49
3,10004,Juarez,99,0.16,488.22
4,10005,Condesa,42,0.71,894.08

In [10]:
roi_scores.head()

,listing_id,neighbourhood,price_per_night,occupancy_rate,estimated_monthly_revenue,roi_score
0,10001,Juarez,235,0.20,1390.68,0.19
1,10002,Centro Historico,69,0.40,828.00,0.33
2,10003,Coyoacan,250,0.14,1068.49,0.14
3,10004,Juarez,99,0.16,488.22,0.21
4,10005,Condesa,42,0.71,894.08,0.44

## Understand the Data (EDA â€“ Basic Checks)

### Shape and Structure

In [11]:
listings.shape

(1500, 9)

In [12]:
calendar.shape

(1461, 4)

In [13]:
reviews.shape

(2000, 3)

### Datatypes

In [14]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   listing_id                 1500 non-null   int64
 1   neighbourhood              1500 non-null   object
 2   room_type                  1500 non-null   object
 3   price_per_night            1500 non-null   int64
 4   availability_365           1500 non-null   int64
 5   number_of_reviews          1500 non-null   int64
 6   reviews_per_month          1500 non-null   float64
 7   occupancy_rate             1500 non-null   float64
 8   estimated_monthly_revenue  1500 non-null   float64
dtypes: float64(3), int64(4), object(2)
memory usage: 105.6+ KB

In [15]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   listing_id       1461 non-null   int64
 1   date             1461 non-null   object
 2   available        1461 non-null   object
 3   price_per_night  1461 non-null   int64
dtypes: int64(2), object(2)
memory usage: 45.8+ KB

In [16]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     2000 non-null   int64
 1   review_date    2000 non-null   object
 2   review_length  2000 non-null   int64
dtypes: int64(2), object(1)
memory usage: 47.0+ KB

### Checking for missing values

In [17]:
listings.isna().sum()
calendar.isna().sum()
reviews.isna().sum()

listing_id       0
review_date      0
review_length    0
dtype: int64

## Cleaning(Converting and cleaning clean fields)

In [18]:
calendar['date'] = pd.to_datetime(calendar['date'])
reviews['review_date'] = pd.to_datetime(reviews['review_date'])

In [19]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   listing_id       1461 non-null   int64
 1   date             1461 non-null   datetime64[ns]
 2   available        1461 non-null   object
 3   price_per_night  1461 non-null   int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 45.8+ KB

In [20]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     2000 non-null   int64
 1   review_date    2000 non-null   datetime64[ns]
 2   review_length  2000 non-null   int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 47.0 KB

### Convert availability flag (t / f) to numeric

In [21]:
calendar['is_booked'] = calendar['available'].map({'f': 1, 't': 0})

# Analysis

### 1.	Which areas in Mexico show the highest Airbnb demand?

In [22]:
reviews_with_location = reviews.merge(
    listings[['listing_id', 'neighbourhood']],
    on='listing_id',
    how='left'
)

demand_by_neighbourhood = (
    reviews_with_location
    .groupby('neighbourhood')
    .agg(total_reviews=('listing_id', 'count'))
    .reset_index()
    .sort_values(by='total_reviews', ascending=False)
)

print(demand_by_neighbourhood)
print('More reviews means higher demand')

      neighbourhood  total_reviews
7        Roma Norte            286
0  Centro Historico            259
6           Polanco            259
2          Coyoacan            245
3         Del Valle            244
1           Condesa            240
5          Narvarte            234
4            Juarez            233
More reviews means higher demand

### 2.	Where do properties achieve strong occupancy and pricing performance?

In [23]:
# Aggregate occupancy and pricing by neighbourhood
occupancy_price_performance = (
    listings
    .groupby('neighbourhood')
    .agg(
        avg_occupancy_rate=('occupancy_rate', 'mean'),
        avg_price_per_night=('price_per_night', 'mean'),
        avg_monthly_revenue=('estimated_monthly_revenue', 'mean')
    )
    .reset_index()
)

# Convert occupancy rate to percentage
occupancy_price_performance['avg_occupancy_percent'] = (
    occupancy_price_performance['avg_occupancy_rate'] * 100
)

# Sort by revenue (strong occupancy + pricing combined)
occupancy_price_performance = occupancy_price_performance.sort_values(
    by='avg_monthly_revenue',
    ascending=False
)

occupancy_price_performance

,neighbourhood,avg_occupancy_rate,avg_price_per_night,avg_monthly_revenue,avg_occupancy_percent
5,Narvarte,0.504255,168.808511,2600.379787,50.425532
1,Condesa,0.487216,170.619318,2569.230170,48.721591
7,Roma Norte,0.506158,166.152709,2564.026897,50.615764
2,Coyoacan,0.499738,167.989529,2512.412356,49.973822
3,Del Valle,0.487688,167.478495,2467.937097,48.768817
0,Centro Historico,0.468705,167.896373,2392.857461,46.870466
6,Polanco,0.500222,161.250000,2377.735778,50.022222
4,Juarez,0.466011,161.196721,2236.226612,46.601093

### 3.	Which locations have lower competition compared to demand?

In [24]:
# Merge reviews with listings to get neighbourhood
reviews_with_location = reviews.merge(
    listings[['listing_id', 'neighbourhood']],
    on='listing_id',
    how='left'
)

# Calculate demand (reviews count per neighbourhood)
demand = (
    reviews_with_location
    .groupby('neighbourhood')
    .agg(total_reviews=('listing_id', 'count'))
    .reset_index()
)

# Calculate competition (listings count per neighbourhood)
competition = (
    listings
    .groupby('neighbourhood')
    .agg(total_listings=('listing_id', 'count'))
    .reset_index()
)

# Combine demand and competition
demand_vs_competition = demand.merge(
    competition,
    on='neighbourhood'
)

# Create demand-to-competition ratio
demand_vs_competition['demand_competition_ratio'] = (
    demand_vs_competition['total_reviews'] /
    demand_vs_competition['total_listings']
)

# Sort by highest ratio (high demand, low competition)
demand_vs_competition = demand_vs_competition.sort_values(
    by='demand_competition_ratio',
    ascending=False
)

demand_vs_competition

      neighbourhood  total_reviews  total_listings  demand_competition_ratio
6           Polanco            259             180                  1.438889
7        Roma Norte            286             203                  1.408867
1           Condesa            240             176                  1.363636
0  Centro Historico            259             193                  1.341969
3         Del Valle            244             186                  1.311828
2          Coyoacan            245             191                  1.282723
4            Juarez            233             183                  1.273224
5          Narvarte            234             188                  1.244681

### 4.	Which areas offer the best investment opportunities for new Airbnb listings?

In [25]:
# Aggregate ROI performance by neighbourhood
investment_opportunities = (
    roi_scores
    .groupby('neighbourhood')
    .agg(
        avg_roi_score=('roi_score', 'mean'),
        avg_monthly_revenue=('estimated_monthly_revenue', 'mean'),
        avg_occupancy_rate=('occupancy_rate', 'mean')
    )
    .reset_index()
)

# Convert occupancy to percentage
investment_opportunities['avg_occupancy_percent'] = (
    investment_opportunities['avg_occupancy_rate'] * 100
)

# Rank by ROI score
investment_opportunities = investment_opportunities.sort_values(
    by='avg_roi_score',
    ascending=False
)

investment_opportunities

,neighbourhood,avg_roi_score,avg_monthly_revenue,avg_occupancy_rate,avg_occupancy_percent
5,Narvarte,0.396117,2600.379787,0.504255,50.425532
7,Roma Norte,0.396108,2564.026897,0.506158,50.615764
2,Coyoacan,0.389791,2512.412356,0.499738,49.973822
1,Condesa,0.387443,2569.230170,0.487216,48.721591
6,Polanco,0.386722,2377.735778,0.500222,50.022222
3,Del Valle,0.384032,2467.937097,0.487688,48.768817
0,Centro Historico,0.373057,2392.857461,0.468705,46.870466
4,Juarez,0.367486,2236.226612,0.466011,46.601093